<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizideal.mn.mapper.UserRolesMapper" >
  <resultMap id="BaseResultMap" type="com.bizideal.mn.entity.UserRolesKey" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <id column="roleid" property="roleid" jdbcType="INTEGER" />
  </resultMap>
</mapper>