<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/user/login}" method="post">
	<input type="text" name="account" required="required" oninvalid="请输入用户名称"><br/>
	<input type="password" name="password" oninvalid="请输入密码"><br/>
	<span th:if="${message!=null}" th:text="${message}" style="color: red;">message</span><br th:if="${message!=null}"/>
	<input type="submit" value="login">
</form>
</body>
</html>