<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <!-- Shiro Filter anon-->  
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
	    <property name="securityManager" ref="securityManager" />  
	    <property name="loginUrl" value="/login" />  
	    <property name="successUrl" value="/user/index" />  
	    <property name="unauthorizedUrl" value="/login" />  
	    <property name="filterChainDefinitions">  
	        <value>  
	        	/noneed = anon
	        	/user/logout = logout
	            /login = anon,kickout  
	            /user/login = anon
	            /user/** = forceLogout,kickout,authc  
	            /** = forceLogout,kickout,authc  
	        </value>  
	    </property> 
	    <property name="filters">
            <util:map>
                <entry key="kickout" value-ref="kickoutSessionControlFilter"/>
                <entry key="forceLogout" value-ref="forceLogoutFilter"/>
            </util:map>
        </property> 
	</bean>  
	
	<bean id="forceLogoutFilter" class="com.bizideal.mn.filter.ForceLogoutFilter"/>
	
	<!-- 缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">  
	    <property name="cacheManagerConfigFile" value="classpath:spring/ehcache/ehcache-shiro.xml" />  
	</bean>  
	
	<!-- 整合了rememberMe功能的filter -->
	<bean id="rememberAuthFilter" class="com.bizideal.mn.filter.MyFormAuthenticationFilter"></bean>
	
	    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
    </bean>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>

    <!-- 会话验证调度器 -->
    <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
        <property name="sessionValidationInterval" value="1800000"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    	<!-- session全局过期时间 -->
        <property name="globalSessionTimeout" value="1800000"/>
        <!-- 自动清理过期session -->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 定期检查失效session -->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>
	
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/><!-- 30天 -->
    </bean>
	
	<!-- rememberMe管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位）-->
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>
	
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
   	 	<property name="realm" ref="userRealm" />  
   	 	<property name="sessionManager" ref="sessionManager"/>
   	 	<property name="cacheManager" ref="cacheManager"/>
<!--    	 	<property name="rememberMeManager" ref="rememberMeManager"/> -->
	</bean>  
	
	<bean id="credentialsMatcher"
        class="com.bizideal.mn.core.RetryLimitHashedCredentialsMatcher">
        <constructor-arg ref="cacheManager"/> 
        <!-- 不能使用加密 Caused by: java.lang.IllegalArgumentException: Odd number of characters -->
        <!-- 指定加密方式 -->
        <property name="hashAlgorithmName" value="MD5" />
        <!-- 加密次数 -->
        <property name="hashIterations" value="3"/>  
    	<property name="storedCredentialsHexEncoded" value="true"/>
    </bean>
	
	<bean id="userRealm" class="com.bizideal.mn.core.UserRealm" >
		<property name="credentialsMatcher" ref="credentialsMatcher" />
		<!-- 使用缓存必须要设置为true -->
		<property name="cachingEnabled" value="true"/>
	</bean>
	
	<!-- 同一个帐号最大同时在线人数 -->
	<bean id="kickoutSessionControlFilter" class="com.bizideal.mn.filter.KickoutSessionControlFilter">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionManager" ref="sessionManager"/>
        <!-- false表示踢出之前登录的用户,为true表示踢出之后登陆的用户，即无法挤前面登陆的人 -->
        <property name="kickoutAfter" value="false"/>
        <!-- 同一个帐号最大同时在线人数 -->
        <property name="maxSession" value="1"/>
        <!-- 被踢出后转向地址 -->
        <property name="kickoutUrl" value="/login"/>
    </bean>

	<!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>